---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/layout/Navbar.astro"
import Hero from "../components/sections/Hero.astro"
import Problem from "../components/sections/Problem.astro"
import Belief from "../components/sections/Belief.astro"
import Differentiators from "../components/sections/Differentiators.astro"
import LearningJourney from "../components/sections/LearningJourney.astro"
import Benefits from "../components/sections/Benefits.astro"
import Programs from "../components/sections/Programs.astro"
import DeviceSupport from "../components/sections/DeviceSupport.astro"
import WhyHome from "../components/sections/WhyHome.astro"
import Testimonials from "../components/sections/Testimonials.astro"
import FAQ from "../components/sections/FAQ.astro"
import FounderStory from "../components/sections/FounderStory.astro"
import FinalEmotion from "../components/sections/FinalEmotion.astro"
import FinalCTA from "../components/sections/FinalCTA.astro"
import Footer from "../components/sections/Footer.astro"
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Problem />
    <Belief />
    <Differentiators />
    <LearningJourney />
    <Benefits />
    <Programs />
    <DeviceSupport />
    <WhyHome />
    <Testimonials />
    <FAQ />
    <FounderStory />
    <FinalEmotion />
    <FinalCTA />
    <Footer />
  </main>
</Layout>
